<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Monthly Insights</title>
</head>

<body>
  <h1><%= month %> Insights</h1>

  <p>
    Welcome. Here are your insights for the month of <%= month %>.
  </p>

  You spent a total of: <%= totalAmount %>
  <br>
  You spent the most money at this merchant: <%= merchantBySpending %>
  <br>
  You most frequently shopped with this merchant: <%= merhcantByFreq %>
  <br>

  Thank You For Using Our Site!

  <hr>
  <a href="/"><u>HOME</u></a>
</body>

</html>