<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Monthly Insights</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
  <div class="container">
    <h1><%= month %> Insights</h1>

    <p>
      Here are your insights for the month of <%= month %>.
    </p>

    <div class="insight-details">
      <p><strong>Total Spending This Year:</strong> $<%= totalAmount.toFixed(2) %></p>
      <p><strong>Most Money Spent at:</strong> <%= merchantBySpending %>. You spent $<%= spendingAmount.totalAmount.toFixed(2) %> here across <%= spendingAmount.count %> purchase(s).</p>
      <p><strong>Most Frequent Merchant:</strong> <%= merchantByFreq %>. You spent $<%= freqAmount.totalAmount.toFixed(2) %> here across <%= freqAmount.count %> purchase(s).</p>
    </div>

    <%- htmlTable %>

    <br>
    Thank You For Using Our Site!

    <hr>
    <a href="/"><u>HOME</u></a>
  </div>
</body>

</html>