<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Yearly Insights</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
  <div class="container">
    <h1>Yearly Insights</h1>

    <p>
      Here are your insights for the year:
    </p>

    <div class="insight-details">
      <p>Total Spending: $<%= totalAmount.toFixed(2) %></p>
      <p>Most Money Spent at: <%= merchantBySpending %>. You spent $<%= spendingAmount.totalAmount %> here across <%= spendingAmount.count %> purchase(s).</p>
      <p>Most Frequent Merchant: <%= merchantByFreq %>. You spent $<%= freqAmount.totalAmount %> here across <%= freqAmount.count %> purchase(s).</p>
    </div>

    <br>
    Thank You For Using Our Site!

    <hr>
    <a href="/"><u>HOME</u></a>
  </div>
</body>

</html>
